**importing PANDAS and test the student performance dataset**

In [5]:
import pandas as pd
df=pd.read_csv('dataset\StudentPerformanceFactors.csv')
df

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [6]:
df.columns

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='str')

now we will check the average scores

In [7]:
df['Exam_Score'].mean()

np.float64(67.23565914938702)

**we will split each case and see its mean to check the reason affecting student performance**

In [8]:
df.groupby(['Distance_from_Home'])['Exam_Score'].mean()

Distance_from_Home
Far         66.457447
Moderate    66.981481
Near        67.512101
Name: Exam_Score, dtype: float64

In [9]:
df.groupby('Teacher_Quality')['Exam_Score'].mean()

Teacher_Quality
High      67.676939
Low       66.753425
Medium    67.109299
Name: Exam_Score, dtype: float64

In [10]:
df.groupby('School_Type')['Exam_Score'].mean()

School_Type
Private    67.287705
Public     67.212919
Name: Exam_Score, dtype: float64

In [11]:
df.groupby('Internet_Access')['Exam_Score'].mean()

Internet_Access
No     66.535070
Yes    67.292895
Name: Exam_Score, dtype: float64

In [19]:
df.groupby('Hours_Studied')['Exam_Score'].mean()

Hours_Studied
1     71.000000
2     63.000000
3     61.333333
4     61.647059
5     62.857143
6     63.470588
7     64.352941
8     64.155172
9     64.162791
10    64.393617
11    64.979452
12    64.765625
13    64.724771
14    65.576208
15    65.590476
16    66.182336
17    66.328084
18    67.042394
19    66.959184
20    66.950538
21    67.682135
22    67.480100
23    68.180049
24    68.187675
25    68.847751
26    68.665399
27    69.462882
28    69.608187
29    70.283582
30    70.617886
31    70.688312
32    70.944444
33    70.025000
34    70.724138
35    71.800000
36    71.181818
37    73.333333
38    72.714286
39    74.714286
43    78.000000
44    71.000000
Name: Exam_Score, dtype: float64

In [17]:
df.groupby('Attendance')['Exam_Score'].mean()

Attendance
60     62.413793
61     63.384146
62     63.756579
63     64.361290
64     63.884615
65     63.905063
66     64.537931
67     64.626316
68     65.147059
69     65.123529
70     65.527950
71     65.611111
72     65.694611
73     65.952381
74     66.272727
75     66.288591
76     66.886486
77     66.668478
78     66.890909
79     66.828571
80     67.088757
81     67.232143
82     67.341040
83     67.968153
84     67.742857
85     67.883562
86     68.655629
87     68.741722
88     68.909677
89     69.104938
90     70.012821
91     69.417143
92     69.727273
93     69.820359
94     69.588889
95     70.067485
96     70.571429
97     70.378882
98     70.684492
99     70.889610
100    70.765432
Name: Exam_Score, dtype: float64

as we see in upper cells, all cases wasnt a real issue in the grades

let us try seeing the best  and worst learning related cases and how would be the average scores

In [46]:
Best_case=df[(df['Attendance']>80) & (df['Hours_Studied'] >20) & (df['Access_to_Resources']=='High') & (df['Teacher_Quality']=="High")]
Best_case['Exam_Score'].mean()

np.float64(71.75)

In [47]:
worst_case=df[(df['Attendance']<75) & (df['Hours_Studied'] <20) & (df['Access_to_Resources']=='Low') & (df['Teacher_Quality']=="Low")]
worst_case['Exam_Score'].mean()

np.float64(61.77777777777778)